<div class="d-flex justify-content-evenly align-items-center" 
    style="top: 0px; right: 0px; position: absolute; margin-top: 40px; margin-right: 30px;">
  
      <mat-form-field style="width: 8em;  padding-right: 1em; " appearance="outline" >
        <span matPrefix style="margin-left: 1em;">
          <mat-icon>language</mat-icon>
        </span>
        <mat-select [(value)]="siteLanguage">
          <ng-container *ngFor="let language of languageList">
              <mat-option (click)="changeSiteLanguage(language.code)" [value]="language.label" >{{ language.code }}</mat-option>
          </ng-container>
        </mat-select> 
        
      </mat-form-field>
       
</div>
<!--
  <div class="container px-4 text-center">
    <ng-container *ngFor="let language of languageList">
        <li role="menuitem">
          <a
          class="dropdown-item"
          (click)="changeSiteLanguage(language.code)">
            {{ language.label }}
          </a>
        </li>
      </ng-container>
-->