
.content{
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.side-drawer{
  padding: 30px;
  width: 20vw;
  justify-content: center;
}
.side-drawer-bottom{
  position: absolute; 
  bottom: 30px; 
  left: 30px;
}
.toolbar-class{
  height: 20vh;
}
.nav-nodes{

}
.disabled{
  pointer-events: none;
}
a{
  text-decoration: none;
  color: black;
}
