
.content{
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.side-drawer{
  padding: 30px;
  width: 20vw;
  justify-content: center;
  background-color: #202123;
}
mat-tree > * { 
  background-color: #202123;
  color:#d8d9db;
  font-weight: 500;
}
.custom-a{
  color: white;
}
.side-drawer-bottom{
  position: absolute; 
  bottom: 30px; 
  left: 30px;
}
.toolbar-class{
  height: 20vh;
  background-color: white;
}
.nav-nodes{

}
.disabled{
  pointer-events: none;
}
a{
  text-decoration: none;
  color: black;
}
