<mat-drawer-container class="example-container">
    <mat-drawer class="side-drawer" mode="side" opened disableClose=true>
        <p>{{ "home.welcome" | translate }} {{username}}</p>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <a [routerLink]="['chat/'+node.name]" [ngClass]="{'disabled' : node.name=='Contacts'}">{{node.name}}</a>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding >
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                {{node.name}}
            </mat-tree-node>
        </mat-tree>
        <div class="side-drawer-bottom">
            <a [routerLink]="['help/']">
                help
            </a>
            <br>
            <a (click)="logOut()" style="cursor: pointer;">
                logout
            </a>
            <!--
            <button mat-button style="padding: 0; margin-top:30px;justify-content: left; display: flex;" (click)="logOut()">
                Basic
            </button>
            -->
        </div>
    </mat-drawer>
    <mat-drawer-content class="content">
        <mat-toolbar class="toolbar-class">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <span>My Application</span>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                        <mat-form-field subscriptSizing="dynamic">
                            <input matInput type="text" [(ngModel)]="searchTerm" (keypress)="search($event)">
                            <mat-icon matPrefix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
    
</mat-drawer-container>